<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogs | lEarn.Tech</title>
    <meta name="description" content="Learn Today...Earn Tomorrow">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="../static/css/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  	<link rel="stylesheet" type="text/css" href="../static/css/custom.css">

<style>

.filterDiv {
  display: none;
}

.show {
  display: block;
}

#myInput {
    border-box: box-sizing;
    background-image: url('/static/css/searchicon.png');
    background-position: 4px 9px;
    background-repeat: no-repeat;
    /* font-size: 3px; */
    padding: 10px 9px 16px 36px;
    border: none;
    /* border-bottom: 1px solid #ddd; */
}


</style>
</head>
  <body>

	 {% include 'header.html' %}

	 <br/><br/><br/>


    <section id ="pricing" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2 class="page-heading">Blogs</h2>
          </div>
        </div>
        <br/>



           <div class ="col-md-3">
			        	 <div class="blog-category"><br/>
			        		<h4>Blog Categories</h4><hr/>
                             <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
			                <nav id="filter">
							<ul class="nav">
								<li class="active"><a href="#" onclick="filterSelection('all')">All</a></li>
								<li><a href="#" onclick="filterSelection('java')">JAVA</a></li>
								<li><a href="#" onclick="filterSelection('sql')">SQL</a></li>
								<li><a href="#" onclick="filterSelection('miscellaneous')">Miscellaneous</a></li>
							</ul>
						</nav>
			            </div><br/>
           </div>


          <div class="col-md-9">
                         <div class="filterDiv miscellaneous">
                                    <div class="portfolio-item">
                                        <div class="portfolio-desc align-center">
                                            <div class="inner blog-border">
                                                <a href="/api-concepts">
                                                    <h3>API Concepts & Overview</h3>
                                                    </a> <i>Posted</i>&nbsp;&nbsp; <span class="inline-block mb16">December
                                                        14, 2018</span>
                                                </a>
                                                <hr>
                                                <p>API is the acronym for Application Programming Interface,
                                                    which is a software intermediary that allows two applications to
                                                    talk to each other. Each time you use an app like Facebook, send an
                                                    instant message, or check the weather on your phone, you're using
                                                    an API.&#8230;</p>
                                                <a class="btn btn-success" href="/api-concepts">Read
                                                    More&rarr;</a> <br /> <br />
                                            </div>
                                        </div>
                                    </div>

                          </div>

                          <div class="filterDiv java">
                                    <div class="portfolio-item ">
                                        <div class="portfolio-desc align-center">
                                            <div class="folio-info">
                                                <div class="inner blog-border">
                                                    <a href="#/java/collection-framework-cheatsheet">
                                                        <h3>Java Collection Framework Cheat Sheet</h3>
                                                    </a> <i>Posted</i>&nbsp;&nbsp;<span class="inline-block mb16">November
                                                        12, 2017</span>
                                                    <hr>
                                                    <p>The Java Collections Framework is a collection of interfaces
                                                        and classes which helps in storing and processing the data
                                                        efficiently...;</p>
                                                    <a class="btn btn-success"
                                                        href="#/java/collection-framework-cheatsheet">Read More &rarr;</a>
                                                    <br /> <br />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          </div>



          </div>



</div>

</div>

    </section>



	 {% include 'footer.html' %}


    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom.js"></script>


  </body>
</html>