{% extends "layout.html" %}
<!--Banner-->
{% block content %}
{% import "bootstrap/wtf.html" as wtf  %}

<br/><br/>

     <section id ="pricing" class="section-padding">
     <div class="container">

      <div class="row">

    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
		<div class="panel panel-success">
            <div class="panel-body">

                <div class="col-md-12">
                <form class="form-signup" method="POST" action="/signup">
                    <h2>Sign up to IEarn.Tech</h2><hr/>

                    {{ form.hidden_tag() }}

                    {{ wtf.form_field(form.user_name) }}
                    {{ wtf.form_field(form.user_email) }}
                    {{ wtf.form_field(form.user_phoneno) }}
                    {{ wtf.form_field(form.user_password) }}
                    {{ wtf.form_field(form.confirm) }}

                    <button type="submit" class="btn btn-success">Sign up</button>
                </form>
                    <div style="color:#EC3838;"> {{ error_msg }} </div>

                    <hr/>
                    Already a member ? <a href="/login">Log in</a>

                </div>

			</div>
		</div>
	</div>
</div>
</div>
    </section>
{% endblock %}