{% extends "layout.html" %}
<!--Banner-->
{% block content %}

<section  class="section-padding">
<div class="container">
<h3 class="course-header"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Course Name : Data Engineering Fundamentals</h3><hr/>

     <div class="row">
        <div class="col-sm-7">
		<h4>Duration : &nbsp; <label>22 sessions of 3 hours </label></h4>
        </div>

         <div class="col-sm-5">
		    <h4>Course Fees :&nbsp; <label>6000 INR </label></h4>
         </div>

    </div>
<hr/>

<div class="col-sm-12">
    <h4>Description :</h4><hr/>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        About the course
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="more-less glyphicon glyphicon-plus"></i>Course Objective</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="more-less glyphicon glyphicon-plus"></i>Who should go for this course</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="headingFour"><i class="more-less glyphicon glyphicon-plus"></i>Prerequisites</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                	Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
               </div>
        </div>
    </div>

</div>
</div>



<div class="col-sm-6">

<h4>Course Curriculum</h4><hr/>

	<div class="panel-group" id="sub-accordion">
					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse1">SQL</a>
					        </h4>
					      </div>
					      <div id="collapse1" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse2">Unix Fundamentals and shell scripting</a>
					        </h4>
					      </div>
					      <div id="collapse2" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					    <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse3">Object Oriented Programming using Core Java</a>
					        </h4>
					      </div>
					      <div id="collapse3" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					     <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse4">Data warehousing Fundamentals</a>
					        </h4>
					      </div>
					      <div id="collapse4" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					     <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse5">ETL operations using Talend</a>
					        </h4>
					      </div>
					      <div id="collapse5" class="panel-collapse collapse">
					        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
					      </div>
					    </div>

					     <div class="panel panel-default">
					      <div class="panel-heading">
					        <h4 class="panel-title">
					          <a data-toggle="collapse" data-parent="#sub-accordion" href="#collapse6">Big Data & Hadoop</a>
					        </h4>
					      </div>
					      <div id="collapse6" class="panel-collapse collapse">
					        <div class="panel-body">
					        <p>This session will discuss about the following</p>
								<ul>
								<li>History of distributing computing
								<li>Need for Distributed processing
								<li>Introduction to Hadoop
								<li>Architecture of Hadoop
								<li>Components of Hadoop - HDFS + Mapreduce
								<li>Hands-on - HDFS commands
								<li>Explanation of map and reduce engines
								<li>Hands-on -  Common operations using mapreduce
								<li>Architecture of Hive
								<li>Concepts of Internal and External tables
								<li>Common Hive queries
								<li>Partitioning & Bucketing
								<li>Hive optimization techniques
								<li>Advanced Hive queries
								<li>Sqoop operations
								<li>Sample project
								<li>Common interview questions
								</ul>
					        </div>
					      </div>
					    </div>
					  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="header-section text-center">
            {% if current_user.is_authenticated %}
		 <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Enroll Now</button>
		    {% endif %}
            {% if not current_user.is_authenticated %}
         <button class="btn btn-success" onclick="window.location.href='/login'">Enroll Now</button>
		    {% endif %}
        </div>
    </div>
</div>


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enroll Yourself</h4>
        </div>

        <div class="modal-body">
             <p>Confirm to enroll in the Data Engineering Course .</p>
        </div>
        <div class="modal-footer">
            <form action="/enroll-now?course_id=1" method="post">
            <button type="submit" class="btn btn-success">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </form>
        </div>
      </div>
    </div>
  </div>


</div>

  </section>


{% endblock %}